#wrapper{
    display: flex;
    justify-content: center;
}
#container{
    display: grid;
    grid-template-columns: 109px 905px 389px;
    /* width: 1211px; */
    /* height: auto; */
}
/* LEFT */
#left-container{
    display:flex;
    /* width: 90px; */
    height: 847px;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}
.left-up{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.left-down{
    /* height: 109px; */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
}
.item{
   margin-bottom:46px;
   width: 30px;
}

/* CENTER */
/* #center-container{
    background-color: navajowhite;
} */
.nav-top{
    display: flex;
    justify-content: space-between;
    /* height: 41px; */
    align-items: center;
    width: 830px;
}

.nav-top > p{
    display: flex;
   color: red;
    border: 2px solid red;
    border-radius: 20px;
    width: 92px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.nav-top p > span{
    margin-right: 8px;
    height: 10px;
    width: 10px;
    /* border-style: solid; */
    border-radius: 50%;
    background-color: red;
}
.internal img{
    display: flex;
    height: 12px;
    width: 11px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-right: 2px;
    /* box-sizing: border-box; */
}
.internal{
    display: flex;
    height: 30px;
    width:82px;
    border-radius: 25px;
    border: 1px solid red;
    background-color: red;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
}
.nav-bottom{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* margin-right: 10px; */
    /* padding-right: 20px; */
}


.content{
    margin-top: 37px;
}
.video-big p > span{
    /* margin-right: 8px; */
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    margin-right: 2px;
}
.video-big > p{
    display: flex;
    background-color: grey;
    border-radius: 10px;
    width: 160px;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: whitesmoke;
}
.video-big img{
    width: 832px;
    height: 457px;
    border-radius: 8px;
}

.video-three-small{
    margin-top: 24px;
    display: flex;
    height: 162px;
    width: 829px;
    justify-content: space-between;
}
.video-three-small img{
    border-radius: 8px;
}

.button{
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    justify-content:center;
    
}
.button span{
    display: flex;
    background-color: red;
    width: 127px;
    height: 43px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.iems-button{
    margin-right: 17px;
}




/* RIGHT */




/* #right-container{
    background-color: chartreuse;
     display: flexbox; 
     flex-direction: column; 
     justify-content: space-between; 
} */
/* .info-items{
    width: 390px;
    display: flex;
    justify-content: space-between;
} */
.right-title span{
    color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: pink;
}
.right-title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.participants{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* padding-bottom: 43px; */
    margin-bottom: 14px;
}

.add{
    border: 1px solid red;
    color: red;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 72px;
}

.info{
    display: flex;
    flex-direction: column;
}


.info-items{
    display: flex;
    justify-content: space-between;
    /* align-items: baselineS; */
}
/* .icon{
    width: 20px;
    font-weight: 10000px;
} */


.tn{
    display: flex;
    background-color: whitesmoke; 
    padding: 4px;
    margin-left: 45px;
    /* justify-content: center;
    align-items: center; */
}
.person > span:last-child{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
}
/* .content-items{
    margin-bottom: 22px;
} */
/* deu hinh */
.person{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.person img{
    margin-right: 8px;
    width: 35px;
    height: 35px;
}
 /* .comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}       */
.chat{
    margin-top: 77px;
}
.nhap input{
    width: 300px;
    height: 30px;
    /* border: none; */
}
.nhap{
    display: flex;
}
.send{
    margin-left:15px;
}
.iconheart{
    margin-left: 35px;
}
.iconheart img{
    width: 25px;
    height: 25px;
}



 